__pycache__/
*/.ipynb_checkpoints/
*.cwp
*.npy
*.cfg
debug/program
*.o
*.a
*.aux
*.auxlock
*.out
*.log
paper/paper.synctex.gz
# Ignore all measurements like 01_, 02, ...
# Only keep demo measurements
simon/traces/0*
simon/traces/1*
